.v-container .image-container {
    border: 8px solid rgba(15, 15, 15, 0.93);
 }
 
 .v-container > div {
     flex: 1;
     
 }
 
 .v-right {
     gap: 0.5rem;
 }s
 
 .accordion {
     margin-top: 2rem;
     border: none;
 }
 
 .accordionItem {
     background-color:rgb(224, 224, 224);
     border: 0.8px solid rgb(3, 5, 3);
     border-radius: 8px;
     overflow: hidden;
     margin-bottom: 20px;
     transition: box-shadow 0.3s ease-in-out;
 }
 
 .accordionItem:hover {
     box-shadow: 0 4px 8px rgba(13, 167, 25, 0.1);
     cursor: pointer;
 }
 
 .accordionItem.expanded {
     box-shadow: var(--shadow);
     border-radius: 6px;
 }
 
 .accordionButton {
     background: white;
     padding: 1rem;
     width: 100%;
     justify-content: space-between;
     cursor: pointer;
 }
 
 .accordionButton:hover {
     background-color: #f0f0f0;
 }
 
 .icon {
     padding: 10px;
     background: #eeeeff;
     border-radius: 5px;
 }
 
 .icon svg {
     fill: var(--blue);
 }
 
 .accordionButton .primaryText {
     font-size: 1.1rem;
 }
 